
body{
    background-color: black;
    margin: 0;
    font-family: "Avenir","Monseratt", sans-serif;
}
button{
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 540;
    font-size: inherit;
    color: steelblue;
    letter-spacing: 1px;
    transition: all .3;
    outline: none;
}
button:hover{
    color: white;
    background-color: steelblue;
}
h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    padding 20px 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}

.selected{
    color: white;
    background-color: steelblue;
}
.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%; 
    border-radius: 100%;
    transition: background .5s;
    /* below will hel90%with other web page transitions */
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    
}

#colorDisplay{
    font-size: 200%;
}
#container{
    max-width: 600px;
    margin: 20px auto;
}
#message{
    display: inline-block;
    width: 20%;
}
#stripe{
    background-color: white;
    height: 2em;
    text-align: center;
}
